pipeline/pl_datalake_ingestion.json
{
	"name": "pl_datalake_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Source Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Validate nocs file availability",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Source Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Source Folder').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Writing nocs csv file",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(equals(item().name,'nocs.csv'),equals(item().type,'File'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Append wrong files",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "pl_var_falseFiles",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy nocs csv file",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_nocs_copy",
												"type": "DatasetReference",
												"parameters": {
													"ds_nocs_container": "source",
													"ds_nocs_folder": "raw_data",
													"ds_nocs_file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_nocs_copy",
												"type": "DatasetReference",
												"parameters": {
													"ds_nocs_container": "bronze",
													"ds_nocs_folder": "nocs",
													"ds_nocs_file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable for wrong file names",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Validate nocs file availability",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_var_falseFilesString",
					"value": {
						"value": "@string(variables('pl_var_falseFiles'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable for wrong file count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Validate nocs file availability",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_var_falseFiles_count",
					"value": {
						"value": "@length(variables('pl_var_falseFiles'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pl_var_falseFiles": {
				"type": "Array"
			},
			"pl_var_falseFilesString": {
				"type": "String"
			},
			"pl_var_falseFiles_count": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}